<div class="container">
  <div class="row equal">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="text-center">
  <pagination [boundaryLinks]="true"
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)"
    [(ngModel)]="currentPage" class="pagination-sm"
   previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>