<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Dating App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" *ngIf="loggedIn()">
          <li routerLinkActive="active"><a [routerLink]="['/members']" routerLinkActive="router-link-active" >Matches</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/lists']" routerLinkActive="router-link-active" >Lists</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/messages']" routerLinkActive="router-link-active" >Messages</a></li>
      </ul>

      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li>
          <img src="{{photoUrl}}" alt="">
        </li>
        <li class="dropdown" dropdown>
          <a (click)="false" class="dropdown-toggle" dropdownToggle>Welcome {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a [routerLink]="['/member/edit']"><i class='fa fa-user'></i> Edit profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)='logout()'><i class='fa fa-sign-out'></i> Logout</a></li>
          </ul>
        </li>
      </ul>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" required name="username" [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" required name="password" [(ngModel)]="model.password">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Sign in</button>
      </form>

    </div><!--/.navbar-collapse -->
  </div>
</nav>